<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Авторизация</title>
</head>
<body>
    <div id="login-wrapper">
        <div id="auth-form">
            <h3 class="form-header">
                Авторизация
            </h3>
            <div class="flex col">
                <label for="login">Логин:</label>
                <input type="text" name="login" id="login" class="modern">
            </div>
            <div class="flex col">
                <label for="login">Пароль:</label>
                <input type="password" name="pass" id="pass" class="modern">
            </div>
            <div class="flex col">
                <button id="submit" class="--air w-100">Войти</button>
            </div>
        </div>
    </div>
</body>
<script src="/js/login.js"></script>
</html>